.tubeaceplay-customizations-group{background-color:#fafafa;}
.tubeaceplay-customizations-description{width:100%;float:left;background-color: inherit;color:#666;padding:8px;}
.tubeaceplay-customizations-button{width:100%;float:left;margin-bottom:30px;background-color: inherit;padding:8px;}